 body {
    background-color: black;
    color: royalblue;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin: 0;
 }